@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Imran Ahmed</strong><br />
    <abbr><strong>Phone: </strong></abbr>
    (+45)50310310
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:imran786dk@gmail.com">imran786dk@gmail.com</a><br />
</address>