@{
    ViewBag.Title = "Home Page";
}

<hr/>

    <div style="text-align: center;">
    <img src="http://www.hollywooddowntowner.com/img/photos/hollywood-street-sign.jpg"
         alt="Hollywood" width="600" height="400">
</div> 